body {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    place-content: center;
    place-items: center;
    height: 100vh;
    background-color: ;
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: white;
    padding: 2rem 4rem;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem 1rem #0000002d;
}

.boton {
    color: white;
    border: 0;
    padding: .5rem 1rem;
    background-color: black;
    border-radius: .5rem; 
    transition: 300ms;   
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(51, 51, 216);
    transform: scale(1.1);
}

